/* reset do Vite que atrapalhava a largura total */
#root {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: initial !important;
}

/* pequeno reset global */
* { box-sizing: border-box; }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #0b1220; /* fallback (evita “branco” no overscroll) */
  overscroll-behavior: none;
}

body { overflow-x: hidden; }
#root { min-height: 100dvh; overflow-x: hidden; }
